﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Model.PictureRef = "images/placeholder.png";
}

<div class="container">
    <div class="row">
        <div class="jumbotron col-12">
        <img src="/images/market5.png" alt="header picture" class="img-fluid  mb-3 jumbo-picture">
        <span class="spanned ml-4 text-info">Browse A Category</span>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.ProductCategories)
        {
            if(@item.PhotoPath != null){
                Model.PictureRef =@item.PhotoPath;
            }else{
                Model.PictureRef = "images/placeholder.png";
            }
            <div class="col-3 bg-info m-4 p-2 text-center product-display">
                <img src="/@Model.PictureRef" alt="category" class="img-fluid product-pic mt-3 mb-3">
                <h3 class="text-light mb-3">@item.Name</h3>
                <a asp-page="/ProductsBrowse" asp-route-id="@item.Id"><button class="btn btn-dark font-weight-bold">Browse</button></a>
            </div>
        }
    </div>
    
</div>