﻿@page "{id:int}"
@model OpenMarket.Pages.ProductsBrowseModel
@{
    ViewData["Title"] = "Browse Products";
    string ImageLoc = "";
}


<div class="container">
    <div class="row">
        <div class="jumbotron col-12">
        <img src="/images/market5.png" alt="header picture" class="img-fluid  mb-3 jumbo-picture">
        <span class="spanned ml-4 text-info">Browsing @Model.SelectedCategory.Name</span>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.ProductsList)
        {
            if(@item.ProductCategory.Id == Model.Id){
                Model.CardBg = @item.QuantityAvailable >= 1 ? "bg-info" : "bg-danger";
                ImageLoc = @item.PhotoPath == null ? @item.QuantityAvailable >= 1 ? "images/box1.png" : "images/openbox.png" : @item.PhotoPath;
                Model.RecordFound = true;
            <div class="col-3 @Model.CardBg m-4 p-2 text-center product-display">
                <h1 class="text-light mb-3">@item.Name</h1>
                <img src="/@ImageLoc" alt="@item.Name" class="img-fluid product-pic mb-3">
                <h4 class="text-light mb-3">@item.Description</h4>
                @if(item.IsOnSale == true){
                    var TextColor = @item.QuantityAvailable <= 0 ? "text-warning" : "text-danger" ;
                    <h3 class="@TextColor mb-3"><img src="/images/sale5.png" alt="" class="sale-tag">
                    <strike class="ml-2">$@string.Format("{0:0.00}" , item.Price)</strike> 
                    <span class="text-light">$@string.Format("{0:0.00}" , item.DiscountedPrice)</span></h3>
                }else{
                    <h3 class="text-light mb-3">$@string.Format("{0:0.00}" , item.Price)</h3>
                } 
                <a asp-page="/Productview" asp-route-id="@item.Id"><button class="btn btn-dark font-weight-bold">View Detail</button></a>
            </div>
            }
        }
            @if(!Model.RecordFound){
                <div class="col-12 bg-info p-5 text-center product-display">
                    <img src="/images/comingsoon.png" alt="coming soon" class="img-fluid product-pic m-4">
                    <h1 class="text-light mb-3">Great items coming Soon!</h1>
                </div>
            }
    </div>
</div>