﻿@page
@using Models
@model OpenMarket.Pages.ProductAddModel
@{
    ViewData["Title"] = "Add Product";
}

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label asp-for="NewProduct.Name" class="control-label"></label>
                <input asp-for="NewProduct.Name" class="form-control" />
                <span asp-validation-for="NewProduct.Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewProduct.Description" class="control-label"></label>
                <!-- <input asp-for="NewProduct.Description" class="form-control" /> -->
                <textarea asp-for="NewProduct.Description" class="form-control" rows="10" ></textarea>
                <span asp-validation-for="NewProduct.Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewProduct.QuantityAvailable" class="control-label"></label>
                <input asp-for="NewProduct.QuantityAvailable" class="form-control" />
                <span asp-validation-for="NewProduct.QuantityAvailable"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewProduct.Price" class="control-label"></label>
                <input asp-for="NewProduct.Price" class="form-control" />
                <span asp-validation-for="NewProduct.Price"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewProduct.DiscountedPrice" class="control-label"></label>
                <input asp-for="NewProduct.DiscountedPrice" class="form-control" />
                <span asp-validation-for="NewProduct.DiscountedPrice"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewProduct.IsOnSale" class="control-label"></label>
                <select asp-for="NewProduct.IsOnSale">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <span asp-validation-for="NewProduct.IsOnSale"></span>
            </div>
            <div class="form-group">
                <label asp-for="RefId" class="control-label">Product Category</label>
                <select asp-for="RefId">
                    @foreach(ProductCategory p in Model.ProductCategoryLM){
                        <option value="@p.Id">@p.Name</option>
                    }
                </select>
                <span asp-validation-for="RefId"></span>
            </div>
            <div class="form-group row">
                <label asp-for="UploadedFile" class="col-sm-3 col-form-label">Image</label>
                <div class="col-sm-7">
                    <input asp-for="UploadedFile" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Product" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>