﻿@page "{id:int}"
@using Models
@model OpenMarket.Pages.ReviewAddModel
@{
}

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All" class="text-danger"></div>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Id" class="control-label">Product</label>
                <input asp-for="NewReview.Product" class="form-control" value="@Model.Product.Name" disabled/>
                <span asp-validation-for="NewReview.Product"></span>
                </select>
                <span asp-validation-for="Id"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewReview.Rating" class="control-label">Rating [1-10]</label>
                <input asp-for="NewReview.Rating" class="form-control" />
                <span asp-validation-for="NewReview.Rating"></span>
            </div>


            <div class="form-group">
                <label asp-for="NewReview.Content" class="control-label"></label>
                <textarea asp-for="NewReview.Content" class="form-control" rows="10" ></textarea>
                <span asp-validation-for="NewReview.Content"></span>
            </div>



            <div class="form-group">
                <input type="submit" value="Add Review" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>