@page "{id:int}"
@model OpenMarket.Pages.Admin.Products.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product - @Model.Product.Name</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-2">
            <b>Photo:</b>
        </dd>
        <dt class="col-sm-10 my-3">
            @if(@Model.Product.PhotoPath != null){
                 <img src="/@Model.Product.PhotoPath" alt="@Model.Product.Name" class="product-pic">
            }else{
                <img src="/images/box1.png" alt="@Model.Product.Name" class="product-pic">
            }
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.PhotoPath)
        </dt>
        <dd class="col-sm-10">
            @if(Model.Product.PhotoPath != null){
                <span>@Model.Product.PhotoPath</span>
            }else{
                <span> <span class="text-danger">Set to default: </span>/images/palceholder.png</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.QuantityAvailable)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.QuantityAvailable)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.DiscountedPrice)
        </dt>
        <dd class="col-sm-10 text-danger">
            @Html.DisplayFor(model => model.Product.DiscountedPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.IsOnSale)
        </dt>
        <dd class="col-sm-10">
            @if(Model.Product.IsOnSale == true){
                <span>Yes</span>
            }else{
                <span>No</span>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductCategory)
        </dt>
        <dd class="col-sm-10">
            <span>@Model.Product.ProductCategory.Name</span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.CreatedOnDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.CreatedOnDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Product.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
