@page 
@model OpenMarket.Pages.Admin.Users.AdminDeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout";
}
<div class="container ">
<h2>Delete Profile</h2>
    <div class="row">
        <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" disabled/>
            </div>
<!--
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <form method="post">
                <input type="hidden" asp-for="Article.Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-page="./Index">Back to List</a>
            </form>
-->
            <div class="btn-group">
                <a asp-page="./Index" class="btn btn-md btn-primary mr-4" >Cancel</a>
                <button type="submit" class="btn btn-warning btn-lg btn-block">Delete</button>
            </div>

            
        </form>
        </div>
    </div>
</div>
