@page 
@model OpenMarket.Pages.Admin.Users.EditSuccessModel
@{
    ViewData["Title"] = "Edit Success";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>User edited successfully
        <a href="./Index">Click here to continue.</a>
    </p>
}