@page
@model OpenMarket.Pages.Admin.Category.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductCategory</h4>
    <hr />
    <dl class="row">
                <!-- show uploaded image if appropriate -->
        @if (Model.ProductCategory.PhotoPath != null)
        {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory.PhotoPath)
        </dt>
        <dd class="col-sm-10">
            <img src="/@Model.ProductCategory.PhotoPath" height="50">
        </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductCategory.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
