﻿@page 
@model OpenMarket.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
    Layout = "_Layout";
}
<div class="container ">
<h2>Account Profile</h2>
    <div class="row">
        <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" value="@Model.Useri.Email"/>
            </div>
            <div class="form-group">
                <label asp-for="Input.CurrentPassword"></label>
                <input type="password" asp-for="Input.CurrentPassword" class="form-control" />
                <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input type="password" asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPasswordConfirm"></label>
                <input type="password" asp-for="Input.NewPasswordConfirm" class="form-control" />
                <span asp-validation-for="Input.NewPasswordConfirm" class="text-danger"></span>
            </div>

            <div class="btn-group">
                <a asp-page="/Index" class="btn btn-md btn-primary mr-4" role="button">Cancel</a>
                <button type="submit" class="btn btn-primary btn-md mr-4">Update Account</button>
            </div>
        </form>
        </div>
    </div>
</div>
