﻿@page
@model OpenMarket.Pages.RegisterSuccessModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>Registration succeeded with email @Model.Email.
        <a href="/Account/login">Click here to log in.</a>
    </p>
}