﻿@page
@model OpenMarket.Pages.Admin.Transactions.IndexModel
@{
}
<div class="container">
    <h1 class="mb-1">All Transactions</h1>
    <div class="row">
        @foreach (var item in @Model.OrderDetailList)
        {
            <div class="col-12 mt-5 bor">
                <h1>Order # @item.Order.Id - @item.Product.Name</h1>
                <h2>Account Used: @item.Order.Buyer.Email</h2>
                <h2>Buyer Name - @item.Order.OrderShipName</h2>
                <h2>Address - @item.Order.OrderAddress @item.Order.OrderCity, @item.Order.OrderProvince</h2>
                <h2>Contact Phone: @item.Order.OrderPhone</h2>
                <h2>Contact Email: @item.Order.OrderEmail</h2>
                <h2>Quantity - @item.Quantity</h2>
                <h2 class="text-danger">Total Price: $@string.Format("{0:0.00}" , @item.Order.OrderTotalPayable)</h2>
            </div>
        }
    </div>
</div>
